.resident {
    width: 100%;
    max-width: 320px;
    background-color: #084851;
    color: #ccc;
    border-radius: 0.7em;
    overflow: hidden;
    transition: transform 100ms ease;
    border: 1px solid black;
}

.resident:hover {
    transform: scale(1.03);
}

.resident__header {
    position: relative;
}

.resident__status {
    position: absolute;
    top: 2.5em;
    background-color: #072226;
    border-radius: 0 0.5em 0.5em 0;
    width: 38%;
    padding: 0.3em 0.7em;
    display: flex;
    gap: 0.8em;
    align-items: center;
}

.resident__status__circle {
    display: block;
    width: 0.7em;
    aspect-ratio: 1;
    background-color: gray;
    border-radius: 50%;
}

.Alive {
    background-color: #00d547;
}

.Dead {
    background-color: red;
}

.resident__body {
    padding: 1.5em 1em 2.5em;
}

.resident__name {
    text-align: center;
    margin-bottom: 0.8em;
    font-weight: 700;
}

.resident__divider {
    margin-bottom: 0.5em;
    border-color: #7272728e;
}

.resident__list {
    display: grid;
    gap: 0.7em;
}

.resident__item {
    display: flex;
    flex-direction: column;
}

.resident__label {
    font-size: 0.8em;
    padding-left: 1em;
    color: #aaa;
}

.resident__value {
    font-weight: 500;
}

.location {
    background-color: #084851;
    border: 1px solid black;
    border-radius: 0.7em;
    height: 8em;
    width: 30em;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location__title {
    color: hsl(140, 100%, 42%);
    margin-bottom: 0.8em;
}

.location__list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.7em;
}

.location__item {
    display: flex;
    flex-direction: column;
}



.location__value {
    font-size: 0.8em;
    padding-left: 1em;
    color: #aaa;
}